body{
    background-color:#EAF6F6;
 }
 hr{
   border-style: dotted none none;
   border-color: gray;
   border-width: 4px;
   width: 3%;
 }
 img{
    height: 120px;
 }
 h1{
   color:blue;
   
 }
 h3{
   color: palevioletred;
 }
 h2{
   color: papayawhip;
 }
 